.info_user {
    width: 100%;
}
.info_user .content {
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px #ccc;
}
.form {
    width: max-content;
    margin-top: 20px;
}
.form .form_item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.form .form_item label {
    display: block;
    width: 160px;
    line-height: 31px;
}
.form .form_item input {
    width: 200px;
    padding: 7px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s linear;
}
.form .form_item p {
    display: block;
    width: 100%;
    font-size: 13px;
    height: 18px;
    padding-left: 160px;
}
.form .button button {
    margin-left: 100px;
}

@media (min-width: 320px) and (max-width: 450px) {
    .form .form_item {
        flex-direction: column;
    }
    .form .form_item label {
        line-height: 18px;
    }
    .form .form_item input {
        margin-top: 5px;
        width: 250px;
    }
    .form .form_item p {
        padding-left: 0;
    }
    .form .button button {
        margin-left: 0;
    }
}
