.form__submit-checkout {
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;

  .form-control {
    width: 100%;
    background-color: transparent;
    padding: 7px 20px;
    border: none;
    border-radius: unset !important;

    border-bottom: 1px solid var(--text-color);
    &:focus {
      outline: none;
      box-shadow: none;
      background-color: transparent;
      border-color: var(--text-color);
    }
  }
}

.checkout__bill {
  background-color: #fde4e4;
  padding: 30px;
  border-radius: 5px;

  .checkout__total {
    font-weight: 600;
    border-top: 1px solid var(--text-color);
    padding-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .checkout__bill {
    margin-top: 40px;
    h6 {
      font-size: 0.9rem;
    }
  }
}
