.header_top {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #5776bb;
    padding: 10px 15px;
    border-radius: 0 0 5px 5px;
    z-index: 100;
}
.header_top .item {
    display: flex;
}
.header_top .item label {
    padding-right: 10px;
}
.header_top .item ul {
    display: flex;
}
.header_top .item ul li {
    cursor: pointer;
}
.header_top .item ul li + li {
    margin-left: 10px;
}
.wapper_nav_content {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 20px 0;
}
.wapper_nav_content.fixed {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 99;
    margin: 0;
    box-shadow: 0 0 5px 0 #ccc;
    animation: top 0.3s linear;
}
@keyframes top {
    from {
        top: -70px;
    }
    to {
        top: 0;
    }
}
.row {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 0;
}
.iconMenu {
    display: none;
}
.iconMenu strong{
    user-select: none;
}
.iconMenu i {
    padding-right: 5px;
    font-size: 15px;
}
.header_logo {
    width: auto;
    height: auto;
}
@media (min-width: 320px) and (max-width: 1024px) {
    .wapper_nav_content {
        margin-top: 0;
    }
    .iconMenu {
        min-width: 150px;
        display: flex;
        align-items: center;
    }
}
@media (min-width: 320px) and (max-width: 766px) {
    .iconMenu {
        min-width: 50px;
    }
    .header_top .item:nth-child(1) {
        display: none;
    }
    .header_top .item:nth-child(2) {
        margin: 0 auto;
    }
    .header_top .item:nth-child(3) {
        display: none;
    }
    .header_logo a {
        display: block;
        width: 100px;
    }
    .header_logo img {
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
}
