.wapper {
    width: 600px;
    margin: 0 auto;
}
.title {
    padding: 10px 0;
}
.formItem {
    width: 100%;
}
.formItem input,
.formItem textarea,
.formItem select {
    width: 100%;
    padding: 15px !important;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s linear;
}
.error {
    width: 100%;
    height: 25px;
}
.form_colums {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form_colums .formItem {
    width: 48%;
}
.btn {
    margin-top: 20px;
    text-align: center;
}
.btn p {
    color: #939ca3;
    margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 650px) {
    .wapper {
        width: 100%;
    }
    .form_colums .formItem {
        width: 100%;
    }
    .formItem input,
    .formItem textarea,
    .formItem select {
        max-width: 97%;
    }
}
